<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <% if (locals.isLogin || locals.isAdmin) { %>
        <div class="home-header">
            <section><%= locals.fullname %></section>
            <a href="/logout">logout</a>
        </div>
        <%- include('messageForm') %>
        <% if (!locals.isMember) { %>
            <button onclick=toggleShowHide()>Be a member</button>
            <%- include('membersEntryDiv',{isNotMatch:locals.isMembershipPasswordNotMatch}) %>
        <% } %>
    <% } else { %>
        <div class="login-route">
            <a href="/login">log in </a> to post a message
        </div>
    <% } %>

    <h2>messages</h2>
    
    <div class="message-list-container">
        <% if (locals.messages) { %>
            <% messages.forEach(message => { %>
                <div class="message-container">
                    <section><%= (locals.isMember || locals.isAdmin)? message.author:"*********" %></section>
                    <section><%= (locals.isMember || locals.isAdmin)? message.date:"*********" %></section>
                    <section class="message-text"><%= message.text %></section>
                    <% if (locals.isAdmin) { %>
                        <a href="/delete?id=<%= message.id %>">delete</a>
                    <% } %>

                </div>
            <% }) %>
         
        <% } %>
    </div>
</body>
</html>